
@media screen and (min-width: 767px) {
    .chat_box  .panel-title svg.chat_back_mobile {
        display: none;
    }
    /*#frame .content .chat_client_messages ul li p,
    #frame .content .messages ul li p {
        max-width: 100%;
    }*/
}
svg.chat_back_mobile {
    width: 25px;
    height: 25px;
    position: absolute;
    left: -15px;
    /*fill: #ffffff;*/
    font-size: 23px;
}
svg:not(:root) {
    overflow: hidden;
}

.liked_already{
    color:#FF0000;
}
.unread_count{
    float: right;
    border: 1px solid #756e6e;
    border-radius: 50%;
    background: #7f7fb7;
    padding: 0px 5px;
    margin: 0px 0.25rem;
}
/*.like-btn:hover {
    color: #FF0000;
}
.liked_already:hover {
    color: #444;
}*/
/*.link-black:focus {
    color: #e6e8ea;
}*/

.post_comments_wrapper .panel-footer {
    background: #f7f9fa;
    border: 1px solid #e4e5e7;
    padding: 7px 15px;
    border-bottom: 0;
    color: #323a45;
}
.comment-image {
    margin-right: 10px;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.no-margin{
    margin: 0!important;
}
.comment-image img {
    float: left;
    height: 40px;
    width: 40px;
}
.chat-area{
    height: 330px;
    position: relative;
    overflow: auto;
    margin: 50px auto 0 auto;
}
.outer_brand_logo{
    display: block;
    /* font-size: 1.25rem; */
    line-height: 2.5;
    /* padding: .8125rem .5rem; */
    transition: width .3s ease-in-out;
    white-space: nowrap;
}
.outer_brand_logo .brand-image {
    /*float: left;*/
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 74px;
    width: auto;
}
.direct-chat-text img{
    max-height: 12rem;
    max-width: 14rem;
}