
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Ionicons:400,500,600,700,800");
.az-calendar {
  border-color: #cdd4e0; }
  .az-calendar .fc-content,
  .az-calendar .fc-divider,
  .az-calendar .fc-list-heading td,
  .az-calendar .fc-list-view,
  .az-calendar .fc-popover,
  .az-calendar .fc-row,
  .az-calendar tbody,
  .az-calendar td,
  .az-calendar th,
  .az-calendar thead {
    border-color: #cdd4e0; }
  .az-calendar .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 20px; }
    @media (min-width: 992px) {
      .az-calendar .fc-header-toolbar {
        padding: 0;
        margin-bottom: 24px; } }
    .az-calendar .fc-header-toolbar h2 {
      margin-bottom: 0;
      color: #1c273c;
      font-size: 20px;
      font-weight: 700; }
      @media (min-width: 576px) {
        .az-calendar .fc-header-toolbar h2 {
          font-size: 22px; } }
    .az-calendar .fc-header-toolbar .fc-right {
      order: 3; }
    .az-calendar .fc-header-toolbar .fc-clear {
      display: none; }
    @media (max-width: 767.98px) {
      .az-calendar .fc-header-toolbar .fc-center {
        order: 1;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .az-calendar .fc-header-toolbar .fc-left {
        order: 2;
        flex: 0 0 50%; }
      .az-calendar .fc-header-toolbar .fc-right {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end; } }
    .az-calendar .fc-header-toolbar button {
      height: 38px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #cdd4e0;
      box-shadow: none;
      padding: 0 15px;
      display: flex;
      align-items: center;
      color: #1c273c;
      font-size: 13px;
      text-transform: capitalize;
      outline: none;
      text-shadow: none;
      border-radius: 0; }
      .az-calendar .fc-header-toolbar button:hover, .az-calendar .fc-header-toolbar button:focus {
        background-color: #e3e7ed; }
      .az-calendar .fc-header-toolbar button.fc-prev-button, .az-calendar .fc-header-toolbar button.fc-next-button {
        padding: 0;
        width: 38px;
        justify-content: center; }
        .az-calendar .fc-header-toolbar button.fc-prev-button span, .az-calendar .fc-header-toolbar button.fc-next-button span {
          margin: 0; }
      .az-calendar .fc-header-toolbar button.fc-state-active {
        background-color: #e3e7ed; }
      .az-calendar .fc-header-toolbar button.fc-today-button {
        color: #fff;
        background-color: #3366ff;
        border-color: #1a53ff; }
        .az-calendar .fc-header-toolbar button.fc-today-button.fc-state-disabled {
          border-color: #cdd4e0;
          background-color: #f4f5f8;
          color: #97a3b9;
          cursor: default; }
      @media (max-width: 575px) {
        .az-calendar .fc-header-toolbar button.fc-prev-button, .az-calendar .fc-header-toolbar button.fc-next-button {
          width: 32px;
          height: 32px; }
        .az-calendar .fc-header-toolbar button.fc-today-button {
          height: 32px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 11px; }
        .az-calendar .fc-header-toolbar button.fc-month-button, .az-calendar .fc-header-toolbar button.fc-agendaWeek-button, .az-calendar .fc-header-toolbar button.fc-agendaDay-button, .az-calendar .fc-header-toolbar button.fc-listWeek-button, .az-calendar .fc-header-toolbar button.fc-listMonth-button {
          text-indent: -9999px;
          width: 32px;
          height: 32px;
          position: relative;
          color: transparent; }
          .az-calendar .fc-header-toolbar button.fc-month-button::before, .az-calendar .fc-header-toolbar button.fc-agendaWeek-button::before, .az-calendar .fc-header-toolbar button.fc-agendaDay-button::before, .az-calendar .fc-header-toolbar button.fc-listWeek-button::before, .az-calendar .fc-header-toolbar button.fc-listMonth-button::before {
            position: absolute;
            top: 6px;
            left: 10px;
            z-index: 100;
            display: inline-block;
            text-indent: 0;
            font-size: 12px;
            font-weight: 700;
            color: #031b4e; }
        .az-calendar .fc-header-toolbar button.fc-month-button::before {
          content: 'M'; }
        .az-calendar .fc-header-toolbar button.fc-agendaWeek-button::before {
          content: 'W'; }
        .az-calendar .fc-header-toolbar button.fc-agendaDay-button::before {
          content: 'D'; }
        .az-calendar .fc-header-toolbar button.fc-listWeek-button::before, .az-calendar .fc-header-toolbar button.fc-listMonth-button::before {
          content: 'L';
          left: 11px; } }
  .az-calendar .fc-icon-left-single-arrow,
  .az-calendar .fc-icon-right-single-arrow {
    top: 0; }
    .az-calendar .fc-icon-left-single-arrow::after,
    .az-calendar .fc-icon-right-single-arrow::after {
      font-family: 'Ionicons';
      font-size: 18px;
      font-weight: 400;
      line-height: 1; }
      @media (min-width: 992px) {
        .az-calendar .fc-icon-left-single-arrow::after,
        .az-calendar .fc-icon-right-single-arrow::after {
          line-height: .75; } }
  .az-calendar .fc-icon-left-single-arrow::after {
    content: '\f3cf'; }
  .az-calendar .fc-icon-right-single-arrow::after {
    content: '\f3d1'; }
  .az-calendar .fc-head-container .fc-day-header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;
    color: #1c273c; }
    @media (min-width: 576px) {
      .az-calendar .fc-head-container .fc-day-header {
        font-size: 12px; } }
  .az-calendar .fc-view > table {
    background-color: #fff; }
    .az-calendar .fc-view > table > thead th, .az-calendar .fc-view > table > thead td {
      border-color: #cdd4e0; }
      @media (max-width: 991.98px) {
        .az-calendar .fc-view > table > thead th:first-child, .az-calendar .fc-view > table > thead td:first-child {
          border-left-width: 0; }
        .az-calendar .fc-view > table > thead th:last-child, .az-calendar .fc-view > table > thead td:last-child {
          border-right-width: 0; } }
    .az-calendar .fc-view > table > tbody > tr > td {
      border-color: #cdd4e0; }
      @media (max-width: 991.98px) {
        .az-calendar .fc-view > table > tbody > tr > td:first-child {
          border-left-width: 0; }
        .az-calendar .fc-view > table > tbody > tr > td:last-child {
          border-right-width: 0; } }
  .az-calendar .fc-view .fc-other-month {
    background-color: #fcfcfc; }
  .az-calendar .fc-view .fc-day-number {
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #596882;
    display: inline-block;
    padding: 5px 8px;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin: 2px 2px 0 0;
    min-width: 20px;
    text-align: center; }
    @media (prefers-reduced-motion: reduce) {
      .az-calendar .fc-view .fc-day-number {
        transition: none; } }
    .az-calendar .fc-view .fc-day-number:hover, .az-calendar .fc-view .fc-day-number:focus {
      color: #1c273c;
      background-color: #f4f5f8; }
  .az-calendar .fc-view .fc-scroller {
    height: auto !important;
    overflow: visible !important; }
  .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span {
    display: block; }
    .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:first-child {
      color: #7987a1;
      font-size: 8px;
      font-weight: 400;
      line-height: 1.2; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:first-child {
          font-size: 11px;
          font-weight: 600; } }
    .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:last-child {
      font-weight: 700;
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:last-child {
          font-size: 25px; } }
  .az-calendar .fc-view.fc-agenda-view .fc-day-header.fc-today > a {
    color: #00bcd4; }
  .az-calendar .fc-view.fc-listMonth-view, .az-calendar .fc-view.fc-listWeek-view {
    border-width: 0; }
    .az-calendar .fc-view.fc-listMonth-view .fc-scroller, .az-calendar .fc-view.fc-listWeek-view .fc-scroller {
      padding: 0 20px 20px; }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-scroller, .az-calendar .fc-view.fc-listWeek-view .fc-scroller {
          padding: 0; } }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-table, .az-calendar .fc-view.fc-listWeek-view .fc-list-table {
      border-collapse: separate;
      display: block; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-table > tbody, .az-calendar .fc-view.fc-listWeek-view .fc-list-table > tbody {
        display: flex;
        flex-wrap: wrap; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
      flex: 0 0 20%;
      max-width: 20%;
      margin-top: 15px; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 15%;
          max-width: 15%; } }
      @media (min-width: 768px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 12%;
          max-width: 12%; } }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 10%;
          max-width: 10%; } }
      @media (min-width: 1200px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 8%;
          max-width: 8%; } }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading:first-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading:first-child {
        margin-top: 0; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading:first-child + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading:first-child + .fc-list-item {
          margin-top: 0; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading td, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading td {
        background-color: transparent;
        border-width: 0;
        padding: 0; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: #7987a1;
      font-weight: 600;
      padding: 5px;
      text-align: center; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main span:last-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main span:last-child {
        display: block;
        font-size: 30px;
        font-weight: 700;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
        color: #1c273c;
        line-height: 1; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now {
        color: #00bcd4; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now span:last-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now span:last-child {
          color: #00bcd4; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
      flex: 0 0 calc(80% - 5px);
      max-width: calc(80% - 5px);
      dispLay: flex;
      flex-direction: column;
      border-left: 4px solid transparent;
      background-color: #fff;
      margin-top: 15px; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(85% - 5px);
          max-width: calc(85% - 5px); } }
      @media (min-width: 768px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(88% - 5px);
          max-width: calc(88% - 5px); } }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(90% - 5px);
          max-width: calc(90% - 5px); } }
      @media (min-width: 1200px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(92% - 5px);
          max-width: calc(92% - 5px); } }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item:hover, .az-calendar .fc-view.fc-listMonth-view .fc-list-item:focus, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:hover, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:focus {
        cursor: pointer; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item:hover td, .az-calendar .fc-view.fc-listMonth-view .fc-list-item:focus td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:hover td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:focus td {
          background-color: transparent; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td {
        border-width: 0; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td.fc-list-item-time, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td.fc-list-item-time {
          border-top: 1px solid #e3e7ed;
          border-right: 1px solid #e3e7ed;
          box-sizing: border-box; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td.fc-list-item-title, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td.fc-list-item-title {
          border-bottom: 1px solid #e3e7ed;
          border-right: 1px solid #e3e7ed;
          box-sizing: border-box; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
        margin-left: 20%; }
        @media (min-width: 576px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 15%; } }
        @media (min-width: 768px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 12%; } }
        @media (min-width: 992px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 10%; } }
        @media (min-width: 1200px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 8%; } }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-marker, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-marker {
      display: none; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-time, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-time {
      padding: 12px 15px 2px;
      font-size: 13px;
      text-transform: capitalize;
      width: 100%; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title {
      padding: 0 15px 12px; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title a, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title a {
        display: block;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 5px;
        color: #1c273c; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title .fc-desc, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title .fc-desc {
        font-size: 13px;
        line-height: 1.375;
        display: block; }
  .az-calendar td.fc-today {
    background-color: #f4f5f8; }
    .az-calendar td.fc-today .fc-day-number, .az-calendar td.fc-today .fc-day-number:hover, .az-calendar td.fc-today .fc-day-number:focus {
      background-color: #00bcd4;
      color: #fff;
      border-radius: 1px; }
  .az-calendar .fc-axis {
    font-size: 11px; }
    @media (min-width: 576px) {
      .az-calendar .fc-axis {
        font-size: 13px; } }
  .az-calendar .fc-event {
    border-width: 0;
    border-top-width: 5px;
    border-radius: 0; }
    @media (min-width: 576px) {
      .az-calendar .fc-event {
        border-top-width: 0;
        border-left-width: 2px;
        padding: 3px 4px; } }
    .az-calendar .fc-event.fc-day-grid-event > div {
      display: none; }
      @media (min-width: 576px) {
        .az-calendar .fc-event.fc-day-grid-event > div {
          display: block; } }
      .az-calendar .fc-event.fc-day-grid-event > div .fc-time {
        font-weight: 500; }
      .az-calendar .fc-event.fc-day-grid-event > div .fc-desc {
        display: none; }
  .az-calendar .fc-time-grid-event {
    padding: 5px;
    border-left-width: 0;
    border-top-width: 2px; }
    .az-calendar .fc-time-grid-event .fc-time {
      font-size: 12px; }
    .az-calendar .fc-time-grid-event .fc-title {
      font-size: 14px;
      font-weight: 700;
      color: #1c273c;
      margin-bottom: 10px; }
    .az-calendar .fc-time-grid-event .fc-desc {
      font-size: 13px;
      line-height: 1.3;
      color: rgba(28, 39, 60, 0.8); }
  .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div {
    display: none; }
    @media (min-width: 576px) {
      .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div {
        display: block; } }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-time {
      font-size: 11px; }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-title {
      font-size: 13px; }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-desc {
      display: none; }
      @media (min-width: 992px) {
        .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-desc {
          display: block; } }
  .az-calendar .fc-list-empty {
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #cdd4e0; }

.az-modal-calendar-schedule .modal-content {
  border-width: 0;
  position: relative; }
  .az-modal-calendar-schedule .modal-content > .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    font-weight: 700;
    color: #7987a1;
    text-shadow: none; }

.az-modal-calendar-schedule .modal-header {
  padding: 20px 25px; }

.az-modal-calendar-schedule .modal-body {
  padding: 30px 25px; }

.az-modal-calendar-schedule .form-group-date {
  display: flex;
  align-items: center;
  border: 1px solid #cdd4e0;
  background-color: #f4f5f8;
  padding: 10px 5px;
  color: #1c273c;
  font-size: 13px;
  font-weight: 600; }
  .az-modal-calendar-schedule .form-group-date > i {
    font-size: 32px;
    line-height: 0;
    margin-right: 10px;
    opacity: .5; }

.az-modal-calendar-schedule .select2-container {
  width: 100% !important; }

.az-modal-calendar-event .modal-content {
  border-width: 0;
  position: relative;
  background-color: transparent; }
  .az-modal-calendar-event .modal-content > .close {
    font-size: 18px;
    text-shadow: none; }

.az-modal-calendar-event .modal-header {
  position: relative;
  padding: 20px;
  border-bottom-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  @media (min-width: 576px) {
    .az-modal-calendar-event .modal-header {
      padding: 20px 25px; } }

.az-modal-calendar-event .nav-modal-event {
  align-items: center; }
  .az-modal-calendar-event .nav-modal-event .nav-link {
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 21px;
    line-height: 0;
    position: relative;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .az-modal-calendar-event .nav-modal-event .nav-link {
        transition: none; } }
    .az-modal-calendar-event .nav-modal-event .nav-link:hover, .az-modal-calendar-event .nav-modal-event .nav-link:focus {
      color: #fff; }
    .az-modal-calendar-event .nav-modal-event .nav-link + .nav-link {
      margin-left: 15px; }
    .az-modal-calendar-event .nav-modal-event .nav-link:last-child {
      font-size: 24px; }

.az-modal-calendar-event .event-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1; }

.az-modal-calendar-event .modal-body {
  padding: 20px;
  background-color: #fff; }
  @media (min-width: 576px) {
    .az-modal-calendar-event .modal-body {
      padding: 30px; } }

.az-modal-calendar-event .event-start-date,
.az-modal-calendar-event .event-end-date {
  color: #1c273c;
  font-weight: 500; }

.az-modal-calendar-event .event-desc {
  margin-top: 5px; }

.az-modal-calendar-event .event-desc:empty {
  margin-bottom: 5px; }
.az-content-calendar .container,
.az-content-calendar .container-fluid {
  padding: 20px 0 0; }
  @media (min-width: 992px) {
    .az-content-calendar .container,
    .az-content-calendar .container-fluid {
      padding-top: 0; } }

@media (min-width: 576px) {
  .az-content-left-calendar {
    width: 300px; } }

@media (min-width: 992px) {
  .az-content-left-calendar {
    width: 230px;
    padding-left: 15px } }

.az-datepicker .ui-datepicker-inline {
  margin-top: 0; }

.az-datepicker .ui-datepicker .ui-datepicker-title {
  color: #343a40;
  letter-spacing: -.2px; }

.az-datepicker .ui-datepicker .ui-datepicker-calendar {
  width: 100%; }
  .az-datepicker .ui-datepicker .ui-datepicker-calendar th {
    padding: 5px;
    font-size: 10px;
    color: #1c273c; }
  .az-datepicker .ui-datepicker .ui-datepicker-calendar th,
  .az-datepicker .ui-datepicker .ui-datepicker-calendar td {
    text-align: center; }
    .az-datepicker .ui-datepicker .ui-datepicker-calendar th.ui-datepicker-week-end:first-child:not(.ui-datepicker-other-month) a,
    .az-datepicker .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-week-end:first-child:not(.ui-datepicker-other-month) a {
      color: #dc3545; }
  .az-datepicker .ui-datepicker .ui-datepicker-calendar td {
    padding: 0 1px; }
  .az-datepicker .ui-datepicker .ui-datepicker-calendar td span,
  .az-datepicker .ui-datepicker .ui-datepicker-calendar td a {
    padding: 4px 5px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #596882; }
  .az-datepicker .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
    background-color: #343a40;
    color: #fff;
    border-radius: 2px; }

.az-nav-calendar-event .nav-link {
  font-size: 13px;
  position: relative; }
  .az-nav-calendar-event .nav-link i {
    font-size: 21px;
    position: relative;
    margin-right: 10px;
    top: -.5px; }
  .az-nav-calendar-event .nav-link.exclude {
    color: #7987a1; }
    .az-nav-calendar-event .nav-link.exclude i {
      color: #7987a1; }
    .az-nav-calendar-event .nav-link.exclude::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: 1px solid #7987a1; }

@media (min-width: 992px) {
  .az-content-body-calendar {
    padding-left: 25px; } }

.az-calendar {
  border-color: #cdd4e0; }
  .az-calendar .fc-content,
  .az-calendar .fc-divider,
  .az-calendar .fc-list-heading td,
  .az-calendar .fc-list-view,
  .az-calendar .fc-popover,
  .az-calendar .fc-row,
  .az-calendar tbody,
  .az-calendar td,
  .az-calendar th,
  .az-calendar thead {
    border-color: #cdd4e0; }
  .az-calendar .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 20px; }
    @media (min-width: 992px) {
      .az-calendar .fc-header-toolbar {
        padding: 0;
        margin-bottom: 24px; } }
    .az-calendar .fc-header-toolbar h2 {
      margin-bottom: 0;
      color: #1c273c;
      font-size: 20px;
      font-weight: 700; }
      @media (min-width: 576px) {
        .az-calendar .fc-header-toolbar h2 {
          font-size: 22px; } }
    .az-calendar .fc-header-toolbar .fc-right {
      order: 3; }
    .az-calendar .fc-header-toolbar .fc-clear {
      display: none; }
    @media (max-width: 767.98px) {
      .az-calendar .fc-header-toolbar .fc-center {
        order: 1;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .az-calendar .fc-header-toolbar .fc-left {
        order: 2;
        flex: 0 0 50%; }
      .az-calendar .fc-header-toolbar .fc-right {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end; } }
    .az-calendar .fc-header-toolbar button {
      height: 38px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #cdd4e0;
      box-shadow: none;
      padding: 0 15px;
      display: flex;
      align-items: center;
      color: #1c273c;
      font-size: 13px;
      text-transform: capitalize;
      outline: none;
      text-shadow: none;
      border-radius: 0; }
      .az-calendar .fc-header-toolbar button:hover, .az-calendar .fc-header-toolbar button:focus {
        background-color: #e3e7ed; }
      .az-calendar .fc-header-toolbar button.fc-prev-button, .az-calendar .fc-header-toolbar button.fc-next-button {
        padding: 0;
        width: 38px;
        justify-content: center; }
        .az-calendar .fc-header-toolbar button.fc-prev-button span, .az-calendar .fc-header-toolbar button.fc-next-button span {
          margin: 0; }
      .az-calendar .fc-header-toolbar button.fc-state-active {
        background-color: #e3e7ed; }
      .az-calendar .fc-header-toolbar button.fc-today-button {
        color: #fff;
        background-color: #3366ff;
        border-color: #1a53ff; }
        .az-calendar .fc-header-toolbar button.fc-today-button.fc-state-disabled {
          border-color: #cdd4e0;
          background-color: #f4f5f8;
          color: #97a3b9;
          cursor: default; }
      @media (max-width: 575px) {
        .az-calendar .fc-header-toolbar button.fc-prev-button, .az-calendar .fc-header-toolbar button.fc-next-button {
          width: 32px;
          height: 32px; }
        .az-calendar .fc-header-toolbar button.fc-today-button {
          height: 32px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 11px; }
        .az-calendar .fc-header-toolbar button.fc-month-button, .az-calendar .fc-header-toolbar button.fc-agendaWeek-button, .az-calendar .fc-header-toolbar button.fc-agendaDay-button, .az-calendar .fc-header-toolbar button.fc-listWeek-button, .az-calendar .fc-header-toolbar button.fc-listMonth-button {
          text-indent: -9999px;
          width: 32px;
          height: 32px;
          position: relative;
          color: transparent; }
          .az-calendar .fc-header-toolbar button.fc-month-button::before, .az-calendar .fc-header-toolbar button.fc-agendaWeek-button::before, .az-calendar .fc-header-toolbar button.fc-agendaDay-button::before, .az-calendar .fc-header-toolbar button.fc-listWeek-button::before, .az-calendar .fc-header-toolbar button.fc-listMonth-button::before {
            position: absolute;
            top: 6px;
            left: 10px;
            z-index: 100;
            display: inline-block;
            text-indent: 0;
            font-size: 12px;
            font-weight: 700;
            color: #031b4e; }
        .az-calendar .fc-header-toolbar button.fc-month-button::before {
          content: 'M'; }
        .az-calendar .fc-header-toolbar button.fc-agendaWeek-button::before {
          content: 'W'; }
        .az-calendar .fc-header-toolbar button.fc-agendaDay-button::before {
          content: 'D'; }
        .az-calendar .fc-header-toolbar button.fc-listWeek-button::before, .az-calendar .fc-header-toolbar button.fc-listMonth-button::before {
          content: 'L';
          left: 11px; } }
  .az-calendar .fc-icon-left-single-arrow,
  .az-calendar .fc-icon-right-single-arrow {
    top: 0; }
    .az-calendar .fc-icon-left-single-arrow::after,
    .az-calendar .fc-icon-right-single-arrow::after {
      font-family: 'Ionicons';
      font-size: 18px;
      font-weight: 400;
      line-height: 1; }
      @media (min-width: 992px) {
        .az-calendar .fc-icon-left-single-arrow::after,
        .az-calendar .fc-icon-right-single-arrow::after {
          line-height: .75; } }
  .az-calendar .fc-icon-left-single-arrow::after {
    content: '\f3cf'; }
  .az-calendar .fc-icon-right-single-arrow::after {
    content: '\f3d1'; }
  .az-calendar .fc-head-container .fc-day-header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;
    color: #1c273c; }
    @media (min-width: 576px) {
      .az-calendar .fc-head-container .fc-day-header {
        font-size: 12px; } }
  .az-calendar .fc-view > table {
    background-color: #fff; }
    .az-calendar .fc-view > table > thead th, .az-calendar .fc-view > table > thead td {
      border-color: #cdd4e0; }
      @media (max-width: 991.98px) {
        .az-calendar .fc-view > table > thead th:first-child, .az-calendar .fc-view > table > thead td:first-child {
          border-left-width: 0; }
        .az-calendar .fc-view > table > thead th:last-child, .az-calendar .fc-view > table > thead td:last-child {
          border-right-width: 0; } }
    .az-calendar .fc-view > table > tbody > tr > td {
      border-color: #cdd4e0; }
      @media (max-width: 991.98px) {
        .az-calendar .fc-view > table > tbody > tr > td:first-child {
          border-left-width: 0; }
        .az-calendar .fc-view > table > tbody > tr > td:last-child {
          border-right-width: 0; } }
  .az-calendar .fc-view .fc-other-month {
    background-color: #fcfcfc; }
  .az-calendar .fc-view .fc-day-number {
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #596882;
    display: inline-block;
    padding: 5px 8px;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin: 2px 2px 0 0;
    min-width: 20px;
    text-align: center; }
    @media (prefers-reduced-motion: reduce) {
      .az-calendar .fc-view .fc-day-number {
        transition: none; } }
    .az-calendar .fc-view .fc-day-number:hover, .az-calendar .fc-view .fc-day-number:focus {
      color: #1c273c;
      background-color: #f4f5f8; }
  .az-calendar .fc-view .fc-scroller {
    height: auto !important;
    overflow: visible !important; }
  .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span {
    display: block; }
    .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:first-child {
      color: #7987a1;
      font-size: 8px;
      font-weight: 400;
      line-height: 1.2; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:first-child {
          font-size: 11px;
          font-weight: 600; } }
    .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:last-child {
      font-weight: 700;
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-agenda-view .fc-day-header > a > span:last-child {
          font-size: 25px; } }
  .az-calendar .fc-view.fc-agenda-view .fc-day-header.fc-today > a {
    color: #343a40; }
  .az-calendar .fc-view.fc-listMonth-view, .az-calendar .fc-view.fc-listWeek-view {
    border-width: 0; }
    .az-calendar .fc-view.fc-listMonth-view .fc-scroller, .az-calendar .fc-view.fc-listWeek-view .fc-scroller {
      padding: 0 20px 20px; }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-scroller, .az-calendar .fc-view.fc-listWeek-view .fc-scroller {
          padding: 0; } }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-table, .az-calendar .fc-view.fc-listWeek-view .fc-list-table {
      border-collapse: separate;
      display: block; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-table > tbody, .az-calendar .fc-view.fc-listWeek-view .fc-list-table > tbody {
        display: flex;
        flex-wrap: wrap; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
      flex: 0 0 20%;
      max-width: 20%;
      margin-top: 15px; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 15%;
          max-width: 15%; } }
      @media (min-width: 768px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 12%;
          max-width: 12%; } }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 10%;
          max-width: 10%; } }
      @media (min-width: 1200px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading {
          flex: 0 0 8%;
          max-width: 8%; } }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading:first-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading:first-child {
        margin-top: 0; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading:first-child + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading:first-child + .fc-list-item {
          margin-top: 0; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading td, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading td {
        background-color: transparent;
        border-width: 0;
        padding: 0; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: #7987a1;
      font-weight: 600;
      padding: 5px;
      text-align: center; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main span:last-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main span:last-child {
        display: block;
        font-size: 30px;
        font-weight: 700;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
        color: #1c273c;
        line-height: 1; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now {
        color: #343a40; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now span:last-child, .az-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now span:last-child {
          color: #343a40; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
      flex: 0 0 calc(80% - 5px);
      max-width: calc(80% - 5px);
      dispLay: flex;
      flex-direction: column;
      border-left: 4px solid transparent;
      background-color: #fff;
      margin-top: 15px; }
      @media (min-width: 576px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(85% - 5px);
          max-width: calc(85% - 5px); } }
      @media (min-width: 768px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(88% - 5px);
          max-width: calc(88% - 5px); } }
      @media (min-width: 992px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(90% - 5px);
          max-width: calc(90% - 5px); } }
      @media (min-width: 1200px) {
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item {
          flex: 0 0 calc(92% - 5px);
          max-width: calc(92% - 5px); } }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item:hover, .az-calendar .fc-view.fc-listMonth-view .fc-list-item:focus, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:hover, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:focus {
        cursor: pointer; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item:hover td, .az-calendar .fc-view.fc-listMonth-view .fc-list-item:focus td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:hover td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item:focus td {
          background-color: transparent; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td {
        border-width: 0; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td.fc-list-item-time, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td.fc-list-item-time {
          border-top: 1px solid #e3e7ed;
          border-right: 1px solid #e3e7ed;
          box-sizing: border-box; }
        .az-calendar .fc-view.fc-listMonth-view .fc-list-item > td.fc-list-item-title, .az-calendar .fc-view.fc-listWeek-view .fc-list-item > td.fc-list-item-title {
          border-bottom: 1px solid #e3e7ed;
          border-right: 1px solid #e3e7ed;
          box-sizing: border-box; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
        margin-left: 20%; }
        @media (min-width: 576px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 15%; } }
        @media (min-width: 768px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 12%; } }
        @media (min-width: 992px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 10%; } }
        @media (min-width: 1200px) {
          .az-calendar .fc-view.fc-listMonth-view .fc-list-item + .fc-list-item, .az-calendar .fc-view.fc-listWeek-view .fc-list-item + .fc-list-item {
            margin-left: 8%; } }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-marker, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-marker {
      display: none; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-time, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-time {
      padding: 12px 15px 2px;
      font-size: 13px;
      text-transform: capitalize;
      width: 100%; }
    .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title {
      padding: 0 15px 12px; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title a, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title a {
        display: block;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 5px;
        color: #1c273c; }
      .az-calendar .fc-view.fc-listMonth-view .fc-list-item-title .fc-desc, .az-calendar .fc-view.fc-listWeek-view .fc-list-item-title .fc-desc {
        font-size: 13px;
        line-height: 1.375;
        display: block; }
  .az-calendar td.fc-today {
    background-color: #f4f5f8; }
    .az-calendar td.fc-today .fc-day-number, .az-calendar td.fc-today .fc-day-number:hover, .az-calendar td.fc-today .fc-day-number:focus {
      background-color: #343a40;
      color: #fff;
      border-radius: 1px; }
  .az-calendar .fc-axis {
    font-size: 11px; }
    @media (min-width: 576px) {
      .az-calendar .fc-axis {
        font-size: 13px; } }
  .az-calendar .fc-event {
    border-width: 0;
    border-top-width: 5px;
    border-radius: 0; }
    @media (min-width: 576px) {
      .az-calendar .fc-event {
        border-top-width: 0;
        border-left-width: 2px;
        padding: 3px 4px; } }
    .az-calendar .fc-event.fc-day-grid-event > div {
      display: none; }
      @media (min-width: 576px) {
        .az-calendar .fc-event.fc-day-grid-event > div {
          display: block; } }
      .az-calendar .fc-event.fc-day-grid-event > div .fc-time {
        font-weight: 500; }
      .az-calendar .fc-event.fc-day-grid-event > div .fc-desc {
        display: none; }
  .az-calendar .fc-time-grid-event {
    padding: 5px;
    border-left-width: 0;
    border-top-width: 2px; }
    .az-calendar .fc-time-grid-event .fc-time {
      font-size: 12px; }
    .az-calendar .fc-time-grid-event .fc-title {
      font-size: 14px;
      font-weight: 700;
      color: #1c273c;
      margin-bottom: 10px; }
    .az-calendar .fc-time-grid-event .fc-desc {
      font-size: 13px;
      line-height: 1.3;
      color: rgba(28, 39, 60, 0.8); }
  .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div {
    display: none; }
    @media (min-width: 576px) {
      .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div {
        display: block; } }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-time {
      font-size: 11px; }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-title {
      font-size: 13px; }
    .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-desc {
      display: none; }
      @media (min-width: 992px) {
        .az-calendar .fc-agendaWeek-view .fc-time-grid-event > div .fc-desc {
          display: block; } }
  .az-calendar .fc-list-empty {
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #cdd4e0; }

.az-modal-calendar-schedule .modal-content {
  border-width: 0;
  position: relative; }
  .az-modal-calendar-schedule .modal-content > .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    font-weight: 700;
    color: #7987a1;
    text-shadow: none; }

.az-modal-calendar-schedule .modal-header {
  padding: 20px 25px; }

.az-modal-calendar-schedule .modal-body {
  padding: 30px 25px; }

.az-modal-calendar-schedule .form-group-date {
  display: flex;
  align-items: center;
  border: 1px solid #cdd4e0;
  background-color: #f4f5f8;
  padding: 10px 5px;
  color: #1c273c;
  font-size: 13px;
  font-weight: 600; }
  .az-modal-calendar-schedule .form-group-date > i {
    font-size: 32px;
    line-height: 0;
    margin-right: 10px;
    opacity: .5; }

.az-modal-calendar-schedule .select2-container {
  width: 100% !important; }

.az-modal-calendar-event .modal-content {
  border-width: 0;
  position: relative;
  background-color: transparent; }
  .az-modal-calendar-event .modal-content > .close {
    font-size: 18px;
    text-shadow: none; }

.az-modal-calendar-event .modal-header {
  position: relative;
  padding: 20px;
  border-bottom-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  @media (min-width: 576px) {
    .az-modal-calendar-event .modal-header {
      padding: 20px 25px; } }

.az-modal-calendar-event .nav-modal-event {
  align-items: center; }
  .az-modal-calendar-event .nav-modal-event .nav-link {
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 21px;
    line-height: 0;
    position: relative;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .az-modal-calendar-event .nav-modal-event .nav-link {
        transition: none; } }
    .az-modal-calendar-event .nav-modal-event .nav-link:hover, .az-modal-calendar-event .nav-modal-event .nav-link:focus {
      color: #fff; }
    .az-modal-calendar-event .nav-modal-event .nav-link + .nav-link {
      margin-left: 15px; }
    .az-modal-calendar-event .nav-modal-event .nav-link:last-child {
      font-size: 24px; }

.az-modal-calendar-event .event-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1; }

.az-modal-calendar-event .modal-body {
  padding: 20px;
  background-color: #fff; }
  @media (min-width: 576px) {
    .az-modal-calendar-event .modal-body {
      padding: 30px; } }

.az-modal-calendar-event .event-start-date,
.az-modal-calendar-event .event-end-date {
  color: #1c273c;
  font-weight: 500; }

.az-modal-calendar-event .event-desc {
  margin-top: 5px; }

.az-modal-calendar-event .event-desc:empty {
  margin-bottom: 5px; }

/* ###### 3.2 Datepicker ###### */
.ui-datepicker {
  background-color: #fff;
  border: 1px solid rgba(28, 39, 60, 0.2);
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  margin: 1px 0 0;
  display: none;
  width: auto !important;
  z-index: 5 !important; }
  .ui-datepicker .ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #031b4e;
    padding: 0 0 5px;
    letter-spacing: 1px;
    border: 0;
    background-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next,
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      text-indent: -99999px;
      color: #7987a1;
      top: 3px; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next::before,
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {
        font-size: 16px;
        font-family: 'Ionicons';
        position: absolute;
        top: -2px;
        text-indent: 0; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover::before, .ui-datepicker .ui-datepicker-header .ui-datepicker-next:focus::before,
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover::before,
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:focus::before {
        color: #3b4863; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      order: 3; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
        right: 5px;
        content: '\f3d1'; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
      left: 5px;
      content: '\f3cf'; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next-hover,
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev-hover {
      color: #596882;
      cursor: pointer;
      top: 1px;
      border: 0;
      background-color: transparent; }
  .ui-datepicker .ui-datepicker-title {
    color: #3b4863;
    font-weight: 700;
    font-size: 13px; }
  .ui-datepicker .ui-datepicker-calendar {
    margin: 0;
    background-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
    .ui-datepicker .ui-datepicker-calendar th {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 6px 9px;
      color: #3b4863; }
      @media (max-width: 320px) {
        .ui-datepicker .ui-datepicker-calendar th {
          padding: 4px 0;
          letter-spacing: normal; } }
    .ui-datepicker .ui-datepicker-calendar td {
      border: 1px solid #fff;
      padding: 0;
      background-color: #fff;
      text-align: right; }
      .ui-datepicker .ui-datepicker-calendar td:last-child {
        border-right: 0; }
      .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month .ui-state-default {
        color: #ccc; }
    .ui-datepicker .ui-datepicker-calendar td span,
    .ui-datepicker .ui-datepicker-calendar td a {
      transition: all 0.2s ease-in-out;
      padding: 5px;
      color: #031b4e;
      padding: 6px 10px;
      display: block;
      font-weight: 400;
      font-size: 12px;
      border: 0;
      border-radius: 1px; }
      @media (prefers-reduced-motion: reduce) {
        .ui-datepicker .ui-datepicker-calendar td span,
        .ui-datepicker .ui-datepicker-calendar td a {
          transition: none; } }
    .ui-datepicker .ui-datepicker-calendar td a:hover {
      background-color: #fff;
      color: #031b4e; }
    .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a, .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:hover, .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:focus {
      background-color: #3366ff;
      color: #fff; }

.ui-datepicker-multi .ui-datepicker-group {
  padding-right: 15px;
  width: auto;
  float: left; }
  .ui-datepicker-multi .ui-datepicker-group .ui-datepicker-title {
    margin: auto; }
  .ui-datepicker-multi .ui-datepicker-group .ui-datepicker-prev::before {
    left: 10px; }
  .ui-datepicker-multi .ui-datepicker-group .ui-datepicker-next::before {
    right: 10px; }
  .ui-datepicker-multi .ui-datepicker-group table {
    margin: 0; }

.ui-datepicker-multi .ui-datepicker-group-last {
  padding-right: 0; }

.ui-datepicker-inline {
  border-color: #cdd4e0; }
  @media (min-width: 576px) {
    .ui-datepicker-inline {
      max-width: 270px; } }

/* ###### 4.12 Datetimepicker ###### */
/* Amaze UI Datetimepicker */
.datetimepicker {
  box-shadow: none;
  border-radius: 0;
  border-width: 1px;
  border-color: #cdd4e0;
  min-width: 270px;
  padding: 0 10px 10px;
  max-width: 270px; }
  .datetimepicker::before {
    display: none; }
  .datetimepicker table {
    width: 100%; }
    .datetimepicker table th.prev,
    .datetimepicker table th.next,
    .datetimepicker table th.switch {
      background-color: #fff;
      color: #031b4e; }
    .datetimepicker table th.prev,
    .datetimepicker table th.next {
      position: relative; }
      .datetimepicker table th.prev span,
      .datetimepicker table th.next span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        .datetimepicker table th.prev span::before,
        .datetimepicker table th.next span::before {
          font-family: 'Ionicons';
          position: absolute;
          top: 50%;
          font-size: 16px;
          color: #1c273c;
          line-height: 0; }
      .datetimepicker table th.prev:hover, .datetimepicker table th.prev:focus,
      .datetimepicker table th.next:hover,
      .datetimepicker table th.next:focus {
        background-color: #fff; }
        .datetimepicker table th.prev:hover span::before, .datetimepicker table th.prev:focus span::before,
        .datetimepicker table th.next:hover span::before,
        .datetimepicker table th.next:focus span::before {
          color: #3366ff; }
    .datetimepicker table th.prev span::before {
      content: '\f3cf';
      left: 0; }
    .datetimepicker table th.next span::before {
      content: '\f3d1';
      right: 0; }
    .datetimepicker table th.switch {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 1px;
      color: #1c273c;
      text-align: center; }
      .datetimepicker table th.switch:hover, .datetimepicker table th.switch:focus {
        background-color: #fff;
        color: #3366ff; }
    .datetimepicker table td {
      font-size: 0.875rem;
      text-align: center;
      cursor: pointer; }
      .datetimepicker-hours span.hour, .datetimepicker-hours span.minute, .datetimepicker-hours span.month, .datetimepicker-hours span.year, .datetimepicker-minutes span.hour, .datetimepicker-minutes span.minute, .datetimepicker-minutes span.month, .datetimepicker-minutes span.year, .datetimepicker-months span.hour, .datetimepicker-months span.minute, .datetimepicker-months span.month, .datetimepicker-months span.year, .datetimepicker-years span.hour, .datetimepicker-years span.minute, .datetimepicker-years span.month, .datetimepicker-years span.year{
        float: left;
        height: 38px;
        width: 59.5px;
        line-height: 38px;
      }
      @media only screen and (max-width: 640px){
      .datetimepicker td span.hour, .datetimepicker td span.minute, .datetimepicker td span.month, .datetimepicker td span.year {
          width: 25%;
      }
      .datetimepicker{
        width: 100%;
        left: 0!important;
      }
    }

      .datetimepicker table td.old, .datetimepicker table td.new {
        color: #97a3b9; }
      .datetimepicker table td.active, .datetimepicker table td.active:hover, .datetimepicker table td.active:focus {
        background-color: #3366ff;
        color: #fff; }
    .datetimepicker table span.active, .datetimepicker table span.active:hover, .datetimepicker table span.active:focus {
      background-color: #3366ff;
      color: #fff; }
  .datetimepicker .datetimepicker-days table thead tr:first-child th {
    height: 38px; }
  .datetimepicker .datetimepicker-days table thead tr:last-child th {
    height: 25px;
    text-transform: uppercase;
    color: #596882;
    font-weight: 700;
    font-size: 11px; }

/* jQuery Simple Datetimepicker */
.az-datetimepicker {
  box-shadow: none;
  border-radius: 0;
  border-color: #cdd4e0;
  margin-top: 2px; }
  .az-datetimepicker > .datepicker_header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .az-datetimepicker > .datepicker_header > .icon-home {
      display: none; }
    .az-datetimepicker > .datepicker_header a:nth-child(2),
    .az-datetimepicker > .datepicker_header a:last-child {
      display: block;
      position: relative;
      text-indent: -999999px; }
      .az-datetimepicker > .datepicker_header a:nth-child(2)::before,
      .az-datetimepicker > .datepicker_header a:last-child::before {
        font-family: 'Ionicons';
        position: absolute;
        top: 50%;
        line-height: 0;
        text-indent: 0;
        font-size: 13px; }
    .az-datetimepicker > .datepicker_header a:nth-child(2)::before {
      content: '\f3cf';
      left: 0; }
    .az-datetimepicker > .datepicker_header a:last-child::before {
      content: '\f3d1';
      right: 0; }
    .az-datetimepicker > .datepicker_header span {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-transform: uppercase; }
  .az-datetimepicker > .datepicker_inner_container {
    border-radius: 0;
    box-shadow: none;
    border-width: 0;
    display: flex;
    height: 225px;
    margin: 0;
    background-color: #fff; }
    .az-datetimepicker > .datepicker_inner_container::after {
      display: none; }
    .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar {
      width: 230px;
      border-width: 0;
      border-radius: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      padding: 5px;
      float: none;
      margin: 0; }
      .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar > table {
        width: 100%;
        height: 100%; }
      .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar th {
        font-size: 11px;
        text-transform: uppercase;
        color: #1c273c;
        font-weight: 700;
        text-align: center;
        padding: 8px 5px; }
      .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar td {
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        padding: 5px; }
        .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar td.day_another_month {
          color: #97a3b9; }
        .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar td.hover {
          background-color: #e3e7ed;
          cursor: pointer; }
        .az-datetimepicker > .datepicker_inner_container > .datepicker_calendar td.active {
          background-color: #3366ff;
          color: #fff; }
    .az-datetimepicker > .datepicker_inner_container > .datepicker_timelist {
      float: none;
      width: 70px;
      height: 100% !important;
      border-left: 1px solid #b4bdce; }
      .az-datetimepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item {
        padding: 5px 8px;
        margin: 0 0 0 1px; }
        .az-datetimepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item:hover, .az-datetimepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item:focus {
          background-color: #e3e7ed; }
        .az-datetimepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.active {
          background-color: #3366ff;
          color: #fff; }

/* Picker JS */
.picker-title {
  font-size: 15px;
  font-weight: 500; }

.picker-cell__header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: .4px; }

.picker-item {
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.picker-picked {
  font-weight: 500;
  color: #3366ff; }