.dis-flex{
	display: flex;
}
.btn-action{
	position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

#asideToolsBtn{
    top: 47px;
    box-shadow: 0px 0px 6px 0 rgb(0 0 0 / 50%);
    z-index: 99;
    display: none;
}
#asideTools{
    display: none;
}
#asideTools .fas{
    cursor: pointer;
}
#asideToolsBtn:hover{
    box-shadow: 0px 0px 7px 0 rgb(0 0 0 / 77%);
}
.az-sidebar-loggedin:hover{
	background-color: #f1f1f1;
}
.icon-btn{
	background-color: white;
    padding: 8px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0 rgb(156 156 156 / 77%);
}
.icon-btn:hover{
	box-shadow: 0px 0px 5px 0 rgb(115 115 115);
}
