/* ############### FONTS IMPORT ############### */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');

// Bootstrap variable overrides
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* ############### BOOTSTRAP FRAMEWORK ############### */
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom variables and mixins
@import "custom/variables";
@import "custom/mixins";

/* ########## BOOTSTRAP OVERRIDES ########## */
@import "bootstrap/accordion";
@import "bootstrap/alerts";
@import "bootstrap/badge";
@import "bootstrap/breadcrumb";
@import "bootstrap/buttons";
@import "bootstrap/cards";
@import "bootstrap/carousel";
@import "bootstrap/dropdown";
@import "bootstrap/forms";
@import "bootstrap/grid";
@import "bootstrap/input-group";
@import "bootstrap/modal";
@import "bootstrap/nav";
@import "bootstrap/pagination";
@import "bootstrap/popover";
@import "bootstrap/progress";
@import "bootstrap/table";
@import "bootstrap/toast";
@import "bootstrap/tooltip";

/* ############### CUSTOM ELEMENT STYLES ############### */
@import "custom/accordion";
@import "custom/buttons";
@import "custom/charts";
@import "custom/forms";
@import "custom/image";
@import "custom/list";
@import "custom/modal";
@import "custom/nav";

/* ############### CUSTOM VENDOR STYLES ############### */
@import "lib/datatables";
@import "lib/datepicker";
@import "lib/datetimepicker";
@import "lib/jquery-steps";
@import "lib/morris";
@import "lib/parsley";
@import "lib/jqvmap";
@import "lib/quill";
@import "lib/rangeslider";
@import "lib/scrollbar";
@import "lib/select2";
@import "lib/spectrum";

/* ############### PAGE LAYOUT STYLES ############### */
@import "layout/content";
@import "layout/footer";
@import "layout/global";
@import "layout/header";
@import "layout/iconbar";
@import "layout/navbar";
@import "layout/navbar-variant";
@import "layout/sidebar";

/* ############### TEMPLATE STYLES ############### */
@import "template/demo";

@import "template/calendar";
@import "template/chat";
@import "template/contacts";
@import "template/invoice";
@import "template/mail";
@import "template/mail-two";
@import "template/profile";
@import "template/signin";
@import "template/signup";
@import "template/error";

/* ############### DASHBOARD STYLES ############### */
@import "template/dashboard-one";
@import "template/dashboard-two";
@import "template/dashboard-three";
@import "template/dashboard-four";
@import "template/dashboard-five";
@import "template/dashboard-six";
@import "template/dashboard-seven";
@import "template/dashboard-eight";
@import "template/dashboard-nine";
@import "template/dashboard-ten";

/* ############### UTILITIES/HELPER CLASSES ############### */
@import "util/background";
@import "util/border";
@import "util/height";
@import "util/margin";
@import "util/misc";
@import "util/padding";
@import "util/position";
@import "util/typography";
@import "util/width";
